html,
body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  align-self: flex-end;
  background-color: #f1554c;
  margin: 45px 90px;
  padding: 0 20px;
  position: absolute;
  top: 0;
  color: white;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
}

header-menu-item {
  padding: 20px;
  white-space: nowrap;
}

hero-section {
  display: flex;
  flex-direction: row;
  color: white;
}

side-left {
  flex: 0 0 480px;
  display: flex;
  flex-direction: column;
  background-color: #0d276b;
  padding: 200px 90px 45px 90px;
  align-items: flex-start;
  /* border-radius: 0px 0px 100px 0px; */
}

side-right {
  background-image: url("/static-assets/hero-1.png");
  flex: 1;
  background-position-x: 100%;
  background-position-y: 0;
  background-size: cover;
}

main-large-text {
  margin: 30px 0;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
}

description-text {
  margin: 30px 0;
}

button {
  border: 3px solid #ffffff;
  background: transparent;
  border-radius: 15px;
  color: white;
  padding: 20px;
  min-width: 300px;
}

button.yellow {
  background: #fdb12e;
}

side-left button {
  margin: 15px 0;
  font-weight: bold;
  font-size: 24px;
}

text-in-the-middle {
  color: #0d276b;
  text-align: center;
}

text-in-the-middle .l-text {
    font-size: 24px;
}

footer {
  background: rgba(241, 85, 76, 0.5);
}
